# Week 3 - Python data types, arrays, touples, lists, and dictionaries with logical operation and introduction to loops

Below are links to articles regarding key topics for these exercises. You are encouraged to add extra cells where needed to test ideas and experiment to help understand these concepts, feel free to add and please save and upload your testing/experimenting when done.

### Python Data Types:
Documentation for the Python programming language (fairly dry, but specific to how these data types are implemented). This also includes links to the documentation for dictionaries, lists, and touples.
https://docs.python.org/3/library/datatypes.html

Geeks for Geeks is good to get a better practical view of these concepts:
https://www.geeksforgeeks.org/python-data-types/

Real Python helped me a lot to get started, here are the definitions of these same concepts written in their more intro, user friendly style.
https://realpython.com/python-data-types/

### Python Operators:
W3 Schools has a great set of 'cheat sheets' to review and refresh on many different languages and topics. Here is their sheet on operatiors in Python. This includes logical operations we will use in If statements to help make the computer make decisions:
https://www.w3schools.com/python/python_operators.asp

Geeks for Geeks with another easy to follow approach to Logical Operators specifically:
https://www.geeksforgeeks.org/python-logical-operators-with-examples-improvement-needed/

### Python Loops:
Geeks for Geeks shows both While loops and For loops, and gives some idea on when you want to use which:
https://www.geeksforgeeks.org/loops-in-python/

Real Pythons article on For Loops (Used more frequently):
https://realpython.com/python-for-loop/

### Python Variables:
W3Schools has a good intro on what variables are and how they are used in Python:
https://www.w3schools.com/python/python_variables.asp

Real Python has a similar article to help explain variables for those not familar with the concepts:
https://realpython.com/python-variables/

# Exercises
Below are some starting variables and basic steps to setup the questions and exercises below. Feel free to add cells, or add to each cell provided to solve the exercises:

## Exercise 1 - List transformations
* Add 'horse' and 'barn' to the singular_words list
* Create a plural_words list containing the plural word for each item in the singular_words list. Use a loop so you do not have to do this manually

In [1]:
singular_words = ['dog', 'cat', 'house', 'toy','horse','barn']
sw = ['one', "two", 'three']
zw = ['hello', "there"]
sw

['one', 'two', 'three']

In [2]:
new_list = sw + zw
new_list

['one', 'two', 'three', 'hello', 'there']

In [3]:
new_list += ['another item']
new_list

['one', 'two', 'three', 'hello', 'there', 'another item']

In [4]:
plural_words = []
for each_word in new_list:
    plural_words.append(each_word + 's')
    
plural_words

['ones', 'twos', 'threes', 'hellos', 'theres', 'another items']

In [5]:
test_dictionary = {
    'ones':'this is a bad plural one',
    'twos':'this is plural two'
}
test_dictionary

{'ones': 'this is a bad plural one', 'twos': 'this is plural two'}

In [6]:
new_list

['one', 'two', 'three', 'hello', 'there', 'another item']

In [7]:
singular_words = ['dog', 'cat', 'house', 'toy'] + ['horse', 'barn']
singular_words

['dog', 'cat', 'house', 'toy', 'horse', 'barn']

In [8]:
plural_words = []
for each_word in singular_words:
    plural_words.append(each_word + 's')
plural_words

['dogs', 'cats', 'houses', 'toys', 'horses', 'barns']

## Exercise 2 - Categorizing lists with Dictionaries
* Use the plural_words list created above and the word_category dictionary provided below to create a loop that categorizes each word in the list.
* The loop should print the word and what the category is in a complete sentence, ordered by how the words appear in the plural_words list.

In [9]:
word_category = {
    'houses':'objects',
    'toys':'objects',
    'barns':'objects',
    'dogs':'creatures',
    'cats':'creatures',
    'horses':'creatures'
}
word_category

{'houses': 'objects',
 'toys': 'objects',
 'barns': 'objects',
 'dogs': 'creatures',
 'cats': 'creatures',
 'horses': 'creatures'}

In [10]:
for each in plural_words:
    print(each + ' are ' +  word_category[each])

dogs are creatures
cats are creatures
houses are objects
toys are objects
horses are creatures
barns are objects

## Exercise 3 - Data Conversion
Sometimes data comes in unexpected ways. Converting data and using it after is often required to complete analysis in the real world.
* convert values in the list to numbers
* provide the average (mean) of the numbers
* provide the sum (total) of the numbers
* provide the count of numbers in the list (Do not enter the value, calculate it)
* remove the largest and smallest number from the list
* provide the average (mean) of the numbers
* provide the sum (total) of the numbers
* provide the count of numbers in the list (Do not enter the value, calculate it)

In [11]:
numbers = ['10234', '500', '125', '50213', '1440', '64920', '225', '425', '1']

In [12]:
numbers = int('10234'), int('500'), int('125'), int('50213'), int('1440'), int('64920'), int('225'), int('425'), int('1')
print(numbers)

(10234, 500, 125, 50213, 1440, 64920, 225, 425, 1)

In [13]:
average = sum(numbers)/ len(numbers)
print(average)

14231.444444444445

In [14]:
Sum = sum(numbers) 
print(Sum)

128083

In [15]:
count = len(numbers)
print(count)

9

In [16]:
numbers = ['10234', '500', '125', '50213', '1440', '64920', '225', '425', '1']
numbers.remove(max(numbers))
numbers.remove(min(numbers))
print(numbers)

['10234', '500', '125', '50213', '1440', '225', '425']

In [17]:
numbers = int('10234'), int('500'), int('125'), int('50213'), int('1440'), int('225'), int('425')
print(numbers)

(10234, 500, 125, 50213, 1440, 225, 425)

In [18]:
average = sum(numbers)/ len(numbers)
print(average)

9023.142857142857

In [19]:
Sum = sum(numbers) 
print(Sum)

63162

In [20]:
count = len(numbers)
print(count)

7